.backgroundImg {
   background-image: url("login.gif");
   background-position: center center;
   background-size: 100% 100%;
   background-repeat: no-repeat;
   width: 1300px;
   height: 100vh;
   overflow: hidden;
}

.loginCard {
   justify-content: center;
   background-color: rgb(233, 233, 233);
   border-radius: 20px;
   width: 285px;
   margin-top: 150px;
   align-items: center;
   margin-left: 50px;
   box-shadow: rgb(0 0 0 / 25%) 12px 12px 16px 0px, rgb(0 0 0 / 3%) -12px -12px 16px 0px;
}

.logo {
   width: 45%;
   height: 7%;
   margin-left: 31px;
   margin-top: 22px;
}

.errorMsg {
   color: red;
   font-weight: 600;
   margin-top: 10px;
   margin-bottom: 10px;
}

.textinput {
   width: 93% !important;
   height: 3.5vh !important;
   border-radius: 8px;
   margin-bottom: 15px;
}

.loginBtn {
   cursor: pointer;
   font-size: 16px;
   padding-top: 7px;
   justify-content: center;
   width: 84px;
   height: 5vh;
   border-radius: 23px;
   margin-left: 70px;
   background: white;
   border: 1px solid #03a9f4a3;
   display: flex;
   color: #00629b;
   box-shadow: 8px 4px 20px 0px rgb(128 128 128 / 79%);
}